#flashy-big-logo {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1));
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flashy-big-logo img {
    max-height: 100%;
    max-width: 100%;
}

#github-link {
    display: block;
    position: fixed;
    right: 1em;
    top: 1em;
}

section {
    border-top: 1px solid #aaa;
    box-sizing: border-box;
    padding-top: 2em;
    padding-bottom: 4em;
    min-height: 50%;
}

section > * {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.footnotes {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-top: 1px solid #ccc;
}
